.item-details {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
  }

  hr {
    height: 1px;
    width: 100%;
    background-color: #000;
  }
  
  .item-details h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .item-details p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .item-details img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 50%;
    padding: 15px;
  }
  